// =============================================
// Mixin - Alignment
// =============================================

@mixin translateY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin translateX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin translateXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
